body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto auto;
    gap: 15px;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    background-color: rgb(225, 230, 235);
}

.full_description {
    padding-left: 20px;
}

.to_colour {
    justify-content: space-around;
}

.price {
    background-color: blue;
    border-radius: 25%;
    color: white;
}

.type {
    background-color: orange;
    border-radius: 25%;
    color: white;
}

.align {
    display: inline;
    justify-content: space-between;
}

.set img{
    
}